header {
    height: 150px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: .1s ease
}

a {
    color: black !important;
}

header nav {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer {
    display: flex;
    justify-content: center;
}

.navbar {
    width: 700px;
    padding: 0.6em 2em;
    display: flex;
    gap: 3em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background-color: white;
}

.navlink {
    cursor: pointer;
}

.active {
    padding: 0.5em 2em;
    border-radius: 200px;
    background-color: #4896EF !important;
}